In [2]:
print("Ok")

Ok

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate


### Topic to be discussed

- Creating a Tuple
- Accessing items 
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functionsriduan

In [6]:
l = []

In [7]:
# empty tuple
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [10]:
t2 = ("Riduan",)
print(t2)
print(type(t2))

('Riduan',)
<class 'tuple'>

In [12]:
# Homogeneous tuple
t3 = (1, 2, 3, 4, 5)
print(t3)

# Heterogeneous tuple
t4 = (1, "Hello", 3.4, True)
print(t4)

# Nested tuple
t5 = (1, 2, (3, 4), (5, 6))
print(t5)

# Using type convrsion
t6 = tuple('Hello')
print(t6)

(1, 2, 3, 4, 5)
(1, 'Hello', 3.4, True)
(1, 2, (3, 4), (5, 6))
('H', 'e', 'l', 'l', 'o')

# Accessing Items

- Indexing
- Slicing

In [ ]:
t3 = (1, 2, 3, 4, 5)

(5, 4, 3, 2, 1)

In [14]:
t3[0]

1

In [17]:
t3[-2]

4

In [18]:
t3[1:4]

(2, 3, 4)

In [19]:
t3[::-1]  # reverse the tuple

(5, 4, 3, 2, 1)

# Editing items / Deleting items

In [20]:
t3 = (1, 2, 3, 4, 5)

In [22]:
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [23]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

# Type Casting

In [27]:
t3 = (1, 2, 3, 4, 5)

temp = list(t3)
print(temp)

[1, 2, 3, 4, 5]

In [29]:
temp.append(6)

In [30]:
temp

[1, 2, 3, 4, 5, 6, 6]

In [31]:
L = [1, 2, 3, 4, 5]

L = tuple(L)
print(L)

(1, 2, 3, 4, 5)